<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Telegram Account Checker</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1>Telegram Account Checker</h1>

      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %} {% if not is_authorized %}
      <div class="login-form">
        <h2>Login to Telegram</h2>
        <form action="/verify" method="POST">
          <input type="text" name="code" placeholder="Enter code" required />
          <button type="submit">Verify</button>
        </form>
      </div>
      {% else %}
      <div class="check-form">
        <h2>Check Account</h2>
        <form
          action="/check-account"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="file"
            placeholder="Phone number to check"
            accept=".csv"
            required
          />
          <button type="submit">Check Account</button>
        </form>
      </div>
      {% endif %}
    </div>
    {% if response %}
    <table>
      <tr>
        <th>Phone Number</th>
        <th>Status</th>
      </tr>
      {% for resp in response %}
      <tr>
        <td>{{ resp.phone }}</td>
        <td>{{ resp.exists }}</td>
      </tr>

      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
